

<table id="targetTable">
        <tr>
            <th>ID</th>
            <th>タスク名</th>
        </tr>
    <tr>
        <td id="task_id">1</td>
        <td><input type="text" id="text_form"></td>
    </tr>
</table>

<%= javascript_pack_tag 'tasktable/index' %>